// This allows Nextflow to manage dependencies via Conda
conda.enabled = true

params {
    input_csv = "trial_samples.csv"
    outdir    = "results"
}

profiles {
    local {
        process.conda = '/home/ec2-user/miniconda3/envs/bstools' 
    }

    cloud {
        docker.enabled = true
        process.container = 'biocontainers/samtools:v1.16.1_cv1' 
    }
}
