conda.enabled = true

params {
    input_csv = "samples.csv"
    outdir    = "results"
    batch     = "trial"
}

process {
    // Default for anything without a label
    cpus = 1
    memory = '1 GB'

    withLabel: 'process_low' {
        cpus = 1
        memory = '1 GB'
    }

    withLabel: 'process_medium' {
        cpus = 2
        memory = '2 GB'
    }

    withLabel: 'process_high' {
        cpus = 4
        memory = '8 GB'
        maxForks = 2  // The "Safety Valve"
    }
}

profiles {
    local {
        // Map environments to specific processes based on their names
        process {
            withName: 'REHEADER_BAM|FLAGSTAT' {
                conda = '/home/ec2-user/miniconda3/envs/bstools'
            }
            withName: 'MOSDEPTH' {
                conda = '/home/ec2-user/miniconda3/envs/mosdepth'
            }
            withName: 'NANOPLOT|MULTIQC' {
                conda = '/home/ec2-user/miniconda3/envs/multi-nano'
            }
        }
    }

    cloud {
        docker.enabled = true
        process {
            withName: 'REHEADER_BAM|FLAGSTAT' {
                container = 'biocontainers/samtools:v1.9-4-deb_cv1'
            }
            withName: 'MOSDEPTH' {
                container = 'ontresearch/wf-alignment:sha867516b66772d0d5ca403827b9cf1b8dd58c0fab'
            }
            withName: 'NANOPLOT' {
                container = 'quay.io/biocontainers/nanoplot:1.41.0--pyhdfd78af_0'
            }
            withName: 'MULTIQC' {
                container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'
            }
        }
    }
}
