conda.enabled = true

params {
    input_csv = "trial_samples.csv"
    outdir    = "results"
    batch     = "trial"
}

process {
    // Default for anything without a label
    cpus = 1
    memory = '1 GB'

    withLabel: 'process_low' {
        cpus = 1
        memory = '500 MB'
    }

    withLabel: 'process_medium' {
        cpus = 2
        memory = '2 GB'
    }

    withLabel: 'process_high' {
        cpus = 4
        memory = '8 GB'
        maxForks = 2  // The "Safety Valve"
    }
}

profiles {
    local {
        // Map environments to specific processes based on their names
        process {
            withName: 'REHEADER_BAM|FLAGSTAT' {
                conda = '/home/ec2-user/miniconda3/envs/bstools'
            }
            withName: 'MOSDEPTH' {
                conda = '/home/ec2-user/miniconda3/envs/mosdepth'
            }
            withName: 'NANOPLOT|MULTIQC' {
                conda = '/home/ec2-user/miniconda3/envs/multi-nano'
            }
        }
    }

    cloud {
        docker.enabled = true
        process {
            withName: 'REHEADER_BAM|FLAGSTAT' {
                container = 'community.wave.seqera.io/library/samtools:1.21--76204c351f04313d'
            }
            withName: 'MOSDEPTH' {
                container = 'community.wave.seqera.io/library/mosdepth:0.3.8--5bc3149'
            }
            withName: 'NANOPLOT' {
                container = 'community.wave.seqera.io/library/nanoplot:1.43.0--80d0d82'
            }
            withName: 'NANOPLOT|MULTIQC' {
                container = 'community.wave.seqera.io/library/multiqc:1.27--b35520a'
            }
        }
    }
}
